@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.divFooter{
    width: 100%;
    position: static;
    height: auto;
    padding: 2vh;
    /* height: 140px; */
    bottom: 0px;
    left: 0px;
    /* box-shadow: 0px 0px 20px 2px rgb(0, 255, 30); */
    background-image: radial-gradient(circle at 50% 300px, #0c1c0ddf, #000);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.footerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: -1vh;
}

.childrenDivOne{
    height: 80px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name{
    font-size: 36px;
    font-family: 'Patrick Hand', sans-serif;
    width: auto;
    height: auto;
    margin: 0;
}

.grade{
    margin: 0;
}

.childrenDivTwo{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.childrenDivThree{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.links{
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1vh;
}
.link{
    height: 30px;
    width: 20%;
    text-decoration: none;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}
.link:hover{
    text-shadow: rgb(0, 255, 60) 1px 0 10px;
    color: greenyellow;
}

.copyright{
    width: auto;
    height: 30px;
    font-size: 18px;
}
@media only screen and (max-width: 768px) {
    .footerContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 2vh;

    }
    .childrenDivOne{
        width: 100%;
    }
    .childrenDivTwo{
        width: 100%;
    }
    .childrenDivThree{
        visibility: hidden;
        position: absolute;
    }
}
.aLink:hover{
    color: rgb(0, 255, 0);
}