@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
.divFooter{
    position:relative;
    min-width: 100vw;
    box-shadow: 0px 0px 20px 2px rgb(0, 255, 30);
    background-color: rgba(30, 30, 30, 0.781);
}
.container{
    position: relative;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.firm{
    position: relative;
    width: 30%;
}
.name{
    font-size: 40px;
    font-family: 'Patrick Hand', sans-serif;
}

.grade{
    font-size: 20px;
}

.link{
    text-decoration: none;
    margin: 0 2rem;
    color: white;
    cursor: pointer;
}

.floro{
    width: 30%;
    padding: 15px;
    font-size: 12px;
}
.title{
    position: relative;
    font-size: 30px;
    bottom: 5px;
    font-family: 'Patrick Hand', sans-serif;
}

.titleFloro{
    font-size: 30px;
    font-family: 'Patrick Hand', sans-serif;

}

.copyright{
    font-size: 12px;
    background-color: rgb(30, 30, 30);

}