.cardEpisodeContainer{
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: auto;
    cursor: pointer;
    margin-bottom: 4vh;
    border-radius: 10px;
}

.epName{
    font-family: 'Patrick Hand', sans-serif;
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    text-align:start;
}

.img{
    max-width: 500px;
    max-height: 300px;
    min-width: 500px;
    min-height: 300px;
    border-radius: 10px;
}
.cardInfo{
    width: 90%;
    height: 70px;
    margin-top: 1vh;
    text-align:start;
}
.epName:hover{
    text-shadow: rgb(0, 255, 60) 1px 0 10px;
    color: greenyellow;
}
.cardEpisodeContainer:hover{
    box-shadow: 0px 0px 15px 2px rgb(0, 255, 30);

}
.infoBtn{
    text-align: center;
    background-color: transparent;
    color: white;
    border-style: none;
    position: relative;
    left: 425px;
    bottom: 45px;
}

.infoBtn:hover{
    text-shadow: rgb(0, 255, 60) 1px 0 10px;
    color: greenyellow;
}