.divAbout {
    min-height: 100vh;
    width: 100vw;
    /* background-image: url('../../assets/Outer-Space-Wallpaper.jpg'); */
    background-color: #000;
    /* background-image: radial-gradient(ellipse at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0)); */
    background-image: radial-gradient(circle at 50% 400px, #3e3e3ebf, #000);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divOne {
    height: auto;
    min-height: 25vh;
    margin-top: 15vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}
.titleDivOne{
    font-family: 'Patrick Hand', sans-serif;
    font-size: 35px;
    max-width: 800px;
    text-align: center;
    margin-bottom: 3vh;
    font-weight: 700;
    color: rgb(0, 253, 0);
}
.textDivOne{
    font-family: 'Patrick Hand', sans-serif;
    font-size: 22px;
    width: 90%;
    color: white;
    text-align: justify;
}
.divTwo{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 2vh;
}
.titleDivTwo{
    font-family: 'Patrick Hand', sans-serif;
    font-size: 35px;
    text-align: start;
    font-weight: 700;
    padding: 3vh;
    width: 95%;
    color: rgb(0, 253, 0);
}
.img{
    max-width: 850px;
    width: 90%;
    height: 55vh;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .img{
        height: 30vh;
    }
}
.divThree{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.titleDesplegables{
    font-size: 18px;
    font-weight: 700;
}