.divAbout {
    min-height: 100vh;
    width: 100vw;
    background-image: url('../../assets/Outer-Space-Wallpaper.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divOne {
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


