
.divLanding {
    background-color: rgb(10, 10, 10);
    min-height: 100vh;
    /* width: 101.20vw; */
    width: 100vw;
    max-width: 140vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divOne {
    background-image: url('../../assets/3840x2160-rick-and-morty-in-a-portal-v0-5ar7o65lpt2b1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    background-size:cover;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;

}
.selected{
    background-color: rgba(30, 30, 30, 0.756);
    width: auto;
    min-width: 400px;
    max-width: 900px;
    min-height: 350px;
    height: auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    font-family: 'Patrick Hand', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;

}

.title2{
    font-family: 'Patrick Hand', sans-serif;
    font-size: 25px;
    margin: 0 50px;
    width: 90%;
    text-align: center;
}

.btnGo{
    position: relative;
    font-size: 20px;
    margin: 10px;
    height: 45px;
    width: 150px;
    color: white;
    background-color: black;
    border-radius: 25px;
    cursor: pointer;
}
.btnGo:hover{
    color: rgb(0, 255, 30);
    border-style: solid;
    border-width: 5px;
    box-shadow: 0px 0px 15px 0px rgb(0, 255, 30);
}
.divTwo{
margin: 3vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: auto;
min-height: 60vh;
}
.divTwoTitle{
    font-family: 'Patrick Hand', sans-serif;
    font-size: 50px;
    text-align: center;
}

.divThree{
    background-color: blue;
    width: 100%;
    height: 30vh;
}

@media only screen and (max-width: 768px) {
    .selected{
        margin-top: 12vh;
        padding: 2vh;
    }
    .title{
        font-size: 35px;
    }
    .divOne{
        height: auto;
        padding-bottom: 2vh;
    }
}